.body {
	height: 8000px;

	border: solid black;

	font-family: "Roboto", sans-serif;

    .grid-container_body{
        display: grid;
        grid-template: 10% 88% 2%/1fr;

		height: 100%;

		.grid-item_body_header {
			grid-area: 1/1/2/2;

			border: solid red;
		}

		.grid-item_body_main {
			grid-area: 2/1/3/2;

			border: solid rgb(0, 51, 255);
		}

		.grid-item_body_footer {
			grid-area: 3/1/4/2;

			border: solid rgb(72, 255, 0);
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.body {
		height: 7500px;

		.grid-container_body {
			grid-template: 10% 88% 2%/1fr;
		}
	}
}

@media screen and (max-width: 767px) {
	.body {
		height: 6000px;

		.grid-container_body {
			grid-template: 20% 78% 2%/1fr;
		}
	}
}
