.footer{
    height: 100%;
    text-align: center;
    
    .grid-container_footer{
        display: grid;
        grid-template: 80% 20%/1fr;

        height: 100%;
        background-image: url(https://gas-kvas.com/grafic/uploads/posts/2024-01/gas-kvas-com-p-oboi-temnie-doma-30.jpg);
        background-attachment: fixed;
        background-position:top;

        .grid-item_footer-itself{
            grid-area: 1/1/2/2;

            .footer-itself{
                display: flex;

                height: 100%;
                width: 100%;

                .footer-itself_logo{
                    width: 20%;
                    height: 100%;

                    .logo{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;

                        height: 100%;
                        cursor: pointer;

                        .logo_text{
                            font-size: 1.2rem;

                            a{
                                text-decoration: none;
                                color: white;
                            }
                        }
                
                        .svg{
                            width: 35%;
                            height: 35%;
                        }
                    }
                }

                .footer-itself_inf{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    width: 25%;
                    height: 100%;

                    p{
                        font-size: 1rem;
                        color: white;
                        text-shadow: 5px 5px 5px rgb(0, 0, 0);
                    }
                }

                .footer-itself_itgirls{
                    margin-top: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    width: 35%;
                    height: 100%;

                    .footer-itself_itgirls-logo{
                        width: 50%;
                        height: 60%;

                        .itgirls-logo{
                            width: 50%;
                            height: 45%;
    
                            background-color: white;
                            border-radius: 6px;
                        }
    
                        .itgirls-text{
                            font-size: 1rem;
                            text-shadow: 5px 5px 5px rgb(0, 0, 0);
                        }

                        a{
                            text-decoration: none;
                            color: rgb(255, 255, 255);
                            text-shadow: 5px 5px 5px rgb(0, 0, 0);
                        }
                    }
                }

                .footer-itself_arrow{
                    width: 20%;
                    height: 100%;

                    .footer-itself_arrow-up{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .footer-itself_arrow-img{
                            width: 20%;
                            height: 20%;
                        }
    
                        .footer-itself_arrow-text{
                            color: white;
                            text-shadow: 6px 6px 6px rgb(0, 0, 0);
                            font-size: 1rem;
    
                            width: 100%;
                            height: 20%;
                        }
    
                        a{
                            text-decoration: none;
                        }
                    }
                }

                
            }
        }

        .grid-item_sub-footer{
            grid-area: 2/1/3/2;

            .sub-footer{
                display: flex;
                height: 100%;
                width: 100%;

                .sub-footer_rights{
                    align-content: end;

                    width: 100%;
                    height: 100%;
                    color: white;
                    text-shadow: 5px 5px 5px rgb(0, 0, 0);
                }
            }
        }
    }
}

@media screen and (min-width: 2001px) and (max-width: 2500px){
    .grid-item_body_footer{
        .footer{
            .grid-container_footer{
                grid-template: 85% 15%/1fr;

                .grid-item_footer-itself{
                    .footer-itself{
                        .footer-itself_logo{
                            .logo{
                                .logo_text{
                                    font-size: 3rem;
                                }
                        
                                .svg{
                                    width: 60%;
                                    height: 60%;
                                }
                            }
                        }
        
                        .footer-itself_inf{
                            p{
                                font-size: 1.5rem;
                            }
                        }
        
                        .footer-itself_itgirls{
                            .footer-itself_itgirls-logo{
                                .itgirls-logo{
                                    width: 60%;
                                    height: 70%;
                                }
            
                                .itgirls-text{
                                    font-size: 1.5rem;
                                }
                            }
                        }
        
                        .footer-itself_arrow{
                            .footer-itself_arrow-up{
                                .footer-itself_arrow-img{
                                    width: 30%;
                                    height: 30%;
                                }
            
                                .footer-itself_arrow-text{
                                    font-size: 1.5rem;
                                }
                            }
                        }
        
                        
                    }
                }
        
                .grid-item_sub-footer{
                    .sub-footer{
                        .sub-footer_rights{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) and (max-width: 2000px){
    .grid-item_body_footer{
        .footer{
            .grid-container_footer{
                .grid-item_footer-itself{
                    .footer-itself{
                        .footer-itself_logo{
                            .logo{
                                .logo_text{
                                    font-size: 3rem;
                                }
                        
                                .svg{
                                    width: 60%;
                                    height: 60%;
                                }
                            }
                        }
        
                        .footer-itself_inf{
                            p{
                                font-size: 1.5rem;
                            }
                        }
        
                        .footer-itself_itgirls{
                            .footer-itself_itgirls-logo{
                                .itgirls-logo{
                                    width: 60%;
                                    height: 70%;
                                }
            
                                .itgirls-text{
                                    font-size: 1.5rem;
                                }
                            }
                        }
        
                        .footer-itself_arrow{
                            .footer-itself_arrow-up{
                                .footer-itself_arrow-img{
                                    width: 35%;
                                    height: 35%;
                                }
            
                                .footer-itself_arrow-text{
                                    font-size: 1.5rem;
                                }
                            }
                        }
        
                        
                    }
                }
        
                .grid-item_sub-footer{
                    .sub-footer{
                        .sub-footer_rights{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .grid-item_body_footer{
        .footer{
            .grid-container_footer{
                .grid-item_footer-itself{
                    .footer-itself{
                        .footer-itself_logo{
                            .logo{
                                .logo_text{
                                    font-size: 1rem;
                                }
                        
                                .svg{
                                    width: 35%;
                                    height: 35%;
                                }
                            }
                        }
        
                        .footer-itself_inf{
                            p{
                                font-size: 0.8rem;
                            }
                        }
        
                        .footer-itself_itgirls{
                            .footer-itself_itgirls-logo{
                                .itgirls-logo{
                                    width: 55%;
                                    height: 45%;
                                }
            
                                .itgirls-text{
                                    font-size: 0.8rem;
                                }
                            }
                        }
        
                        .footer-itself_arrow{
                            .footer-itself_arrow-up{
                                .footer-itself_arrow-img{
                                    width: 30%;
                                    height: 30%;
                                }
            
                                .footer-itself_arrow-text{
                                    font-size: 0.7rem;
                                }
                            }
                        }
        
                        
                    }
                }
        
                .grid-item_sub-footer{
                    .sub-footer{
                        .sub-footer_rights{
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .grid-item_body_footer{
        .footer{
            .grid-container_footer{
                .grid-item_footer-itself{
                    .footer-itself{
                        .footer-itself_logo{
                            width: 50%;
                            height: 100%;

                            .logo{
                                .logo_text{
                                    font-size: 0.9rem;
                                }
                        
                                .svg{
                                    width: 35%;
                                    height: 35%;
                                }
                            }
                        }
        
                        .footer-itself_inf{
                            display: none;
                        }
        
                        .footer-itself_itgirls{
                            display: none;
                        }
        
                        .footer-itself_arrow{
                            width: 50%;
                            height: 100%;

                            .footer-itself_arrow-up{
                                .footer-itself_arrow-img{
                                    margin-top: 20px;
                                    width: 20%;
                                    height: 20%;
                                }
            
                                .footer-itself_arrow-text{
                                    font-size: 0.7rem;
                                }
                            }
                        }
        
                        
                    }
                }
        
                .grid-item_sub-footer{
                    .sub-footer{
                        .sub-footer_rights{
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}