.header_row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    gap: 1rem;
  }
  .logo {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 3rem;
    &_icon {
        width: 20%;
        height: 10%;
      }
    &_text {
        font-weight: 400;
        font-size: 1.5rem;
      }
  }

  .header {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/header/house.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 1%;
    padding-bottom: 5%;
    &_nav, 
    &_links {
        display: flex;
        align-items: center;
      }
      &_nav {
        justify-content: center;
        margin: 1.5rem 0;
      }
      &_links {
        padding: 0.5rem 1rem;
        gap: 3rem;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: normal;
        list-style: none;
      }
  }
.header_links-link {
    color: #ffff;
    // text-decoration: none;
}
 

  .content {
    max-width: 50%;
    padding: 2rem 1rem;
    gap: 3rem;
    &_title  {
      font-weight: 700;
      font-size: 3.5rem;
      line-height: normal;
      color: #ffff;
    }
    &_text {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: normal;
      margin: 3rem 0;
    }
    &_form  {
      display: flex;
      gap: 1rem;
      margin: 3rem 0;
    }
    &_form_btn {
        font-weight: 600;
        font-size: 1rem;
        color: #ffff;
        text-shadow: #ffff;
        background-color: #34b7f1;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    &_form_btn2 {
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
        gap: 0.5rem;
        font-weight: 600;
        font-size: 1rem;
        color: #ffff;
        text-shadow: #ffff;
        background-color: #25d366;
        border: 0.5rem solid #25d366;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
    }
  }

  .content_form_btn:hover {
    background-color: #71c0e2;
  }
  .content_form_btn2:hover {
    background-color: #89ebad;
  }