.header {
    padding: 0.5rem 2rem;
    width: 100%;
    height: 100%;
    background-image: url(https://gas-kvas.com/grafic/uploads/posts/2024-01/gas-kvas-com-p-oboi-temnie-doma-30.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 1%;
    padding-bottom: 5%;

    .header_row {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        gap: 1rem;
        
        .header_logo {
            width: fit-content;
            height: 100%;
        
                &_icon {
                    margin-left: 1rem;

                    height: 100%;
                }
        
                &_text {
                    font-size: 1rem;
                    margin-top: 1rem;
                    text-align: center;
                    color: #ffff;
                }
        }

        .header_nav{
            margin: 1.5rem 0;
            width: 80%;
            display: flex;

            .header_links{
                @include links-header-footer;
                text-shadow: 1px 1px 1px rgb(0, 0, 0);

                padding: 0.5rem 2.5rem;
                gap: 3rem;
                list-style: none;
                width: 100%;

                .header_links-link {
                    color: #ffff;
                    text-decoration: none;
                }

                .header_links-link:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .header_content {
        max-width: 100%;
        padding: 1rem 1rem;
        gap: 3rem;

        &_title  {
            @include title-header;
        }

        &_text {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: normal;
            text-align: center;
            text-decoration: underline;
            cursor: pointer;
            text-shadow: 5px 5px 5px black;
            color: #ffff;
        }

        &_form  {
            display: flex;
            justify-content: center;
            gap: 3rem;
            margin: 7rem 0;
            font-size: 1.3rem;
            cursor: pointer;

            &_btn {
                display: flex;
                align-items: center;
                padding: 1rem 1rem;
                border: none;
                border-radius: 0.5rem;
                background: linear-gradient(to bottom right, #469ce3, #2c60b9);
                box-shadow: 1px 1px 2px 2px #469ce3;
                color: #ffff;
                text-shadow: #ffff;
                font-weight: 300;
            }

            &_btn2 {
                padding: 1rem 1rem;
                border: none;
                border-radius: 0.5rem;
                background: linear-gradient(to bottom right, #42f042, #1b9c4b);
                box-shadow: 1px 1px 2px 2px #42f042;
                color: #ffff;
                text-shadow: #ffff;
                font-weight: 300;
            }

                .header_content_form_btn:hover {
                    background: #a3aea79b;
                    color: #ffffff;
                } 

                .header_content_form_btn2:hover {
                    background: #a3aea79b;
                    color: #42f042;
                }
            }
        }
    }

    .header_content_form_whatsapp {
        text-decoration: none;
        color: #ffffff;
    }


// /скрываем чек бокс/ 

.menu-toggle {
    display: none;
}

.burger-menu {
    display: none;
}

/* Мобильные стили */

@media screen and /*(min-width: 900px) */(min-width: 768px) and (max-width: 1100px) {
.header .header_content {
        padding: 2rem 1rem;
        gap: 3rem;

    &_title {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 5rem 0;
        text-shadow: 5px 5px 5px black;  
        font-weight: 700;
        font-size: 2rem;
        line-height: normal;
        color: #ffff;
    }
}
    .header_nav {
        position: relative;
        padding: 10px;
    }
    .header .header_row .header_nav .header_links {
        display: none; /* Скрыто по умолчанию */
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 40px 0;
        margin: 0;
        top: 50px;
        right: 0;
        left: 50px;

        font-size: 2vw;
        font-weight: 600;
        line-height: normal;

        background-color: #0c0b0b;
        border-radius: 5%;
        color: #ffff;
    }

    .burger-menu {
        display: flex; /* Показываем бургер-меню на мобильных устройствах */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 0;
    }

    .burger-menu .line {
        width: 100%;
        height: 3px;
        background-color: #ffff;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    /* Отображение меню при активном чекбоксе */
    .menu-toggle:checked + .burger-menu + .header_links {
        display: flex; /* Отображаем меню при клике на бургер */
    }
    /* Анимация превращения бургер-меню в крестик */
    .menu-toggle:checked + .burger-menu .line1 {
        transform: rotate(45deg) translate(13.5px, 13.5px);
    }
    
    .menu-toggle:checked + .burger-menu .line2 {
        opacity: 0; /* Убираем вторую линию */
    }

    .menu-toggle:checked + .burger-menu .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }
    .header .header_content {
        max-width: 100%;
        padding: 2rem 1rem;
        gap: 3rem;

    &_title {
        display: flex;
        align-items: center;
        text-align: center;

        margin: 5rem 0;
        text-shadow: 5px 5px 5px black;  
        font-weight: 700;
        font-size: 2.2rem;
        line-height: normal;
        color: #ffff;
        width: 100%;
        height: 7rem;
    }
    &_text {
        margin: 5rem 0;
        font-size: 1.5rem;
    }
    &_form  {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
        margin: 7rem 0;
    
        &_btn {
            font-weight: 700;
            font-size: 1rem;
            color: #ffff;
            text-shadow: #ffff;
            background-color: #197096;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
        }

        &_btn2 {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 1rem 1rem;
            gap: 0.5rem;
            font-weight: 700;
            font-size: 1rem;
            color: #ffff;
            text-shadow: #ffff;
            background-color: #1b9c4b;
            border: 0.5rem solid #1b9c4b;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }
}

    .header_nav {
        position: relative;
        padding: 10px;
    }
    .header .header_row .header_nav .header_links {
        display: none; /* Скрыто по умолчанию */
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        padding: 40px 0;
        margin: 0;
        top: 50px;
        right: 0;
        left: 35px;

        font-size: 6vw;
        font-weight: 600;
        line-height: normal;

        background-color: #0c0b0b;
        border-radius: 5%;
        color: #ffff;
    }

    .burger-menu {
        display: flex; /* Показываем бургер-меню на мобильных устройствах */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 0;
    }

    .burger-menu .line {
        width: 100%;
        height: 3px;
        background-color: #ffff;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    /* Отображение меню при активном чекбоксе */
    .menu-toggle:checked + .burger-menu + .header_links {
        display: flex; /* Отображаем меню при клике на бургер */
    }
    /* Анимация превращения бургер-меню в крестик */
    .menu-toggle:checked + .burger-menu .line1 {
        transform: rotate(45deg) translate(14px, 14px);
    }
    
    .menu-toggle:checked + .burger-menu .line2 {
        opacity: 0; /* Убираем вторую линию */
    }

    .menu-toggle:checked + .burger-menu .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}