.grid-container_main {
	display: grid;
	grid-template: 15% 27% 32% 25%/1fr;

	height: 100%;

	.grid-item_main_block1 {
		grid-area: 1/1/2/2;
	}

	.flex-item_main_block2 {
		grid-area: 2/1/3/2;
	}
	.flex-item_main_block2 {
		grid-area: 2/1/3/2;
	}

	.grid-item_main_block3 {
		grid-area: 3/1/4/2;
	}

	.grid-item_main_block4 {
		grid-area: 4/1/5/2;
	}
}

@media screen and (min-width: 2000px) {
	.grid-container_main {
		grid-template: 1fr 1.2fr 40% 2fr/1fr;
	}
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
	.grid-container_main {
		grid-template: 1fr 1.2fr 3.3fr 3fr/1fr;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
	.grid-container_main {
		grid-template: 0.8fr 1.2fr 3.3fr 3fr/1fr;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.grid-container_main {
		grid-template: 0.2fr 0.4fr 1.5fr 1fr/1fr;
	}
}

@media screen and (max-width: 767px) {
	.grid-container_main {
		grid-template: 0.3fr 0.3fr 22% 1fr/1fr;
	}
}
