.grid-item_main_block4 {
	display: grid;
	grid-template: 2fr 1fr 2fr / 1fr;
	color: #2a2c1f;
	overflow: hidden;

	.grid-item_main_block4_about-company {
		grid-area: 1 / 1 / 2 / 2;
		width: 80%;
		height: min-content;
		margin: 0 auto;

		display: grid;
		grid-template: 1fr 5fr / 1fr 1fr;

		margin-top: 5vw;
	}
	.grid-item_main_block4_about-company_title {
		@include title;
		// font-size: 5vw;
		align-self: center;
	}
	.grid-item_main_block4_about-company_desc {
		grid-area: 2 / 1 / 3 / 2;
		margin-top: 1.5vw;
		width: 90%;
	}
	.grid-item_main_block4_about-company_desc_text {
		// font-size: 1.3vw;
		// text-align: justify;
		@include text;
	}
	.grid-item_main_block4_about-company_logo {
		grid-area: 1 / 2 / 2 / 3;
		display: flex;
		justify-content: space-between;
		margin-top: 2vw;
	}
	.grid-item_main_block4_about-company_logo_image {
		width: 50%;
	}
	.grid-item_main_block4_about-company_logo_text {
		font-size: 1.5vw;
		font-weight: bold;
		text-align: left;
	}
	.grid-item_main_block4_about-company_image2 {
		width: 40vw;
		margin-top: 1vw;
	}
	.grid-item_main_block4_reviews {
		width: 80%;
		margin: 0 auto;
		grid-area: 2 / 1 / 3 / 2;
		display: grid;
		grid-template: 1fr 2fr / 1fr 2fr;
		padding-top: 5vw;
	}
	.grid-item_main_block4_reviews_wrap-yandex {
		grid-area: 1 / 1 / 2 / 2;
		border: 1px solid transparent;
		border-radius: 10px;
		background-color: #ffffff;
		box-shadow: 2px 2px 17px 5px #c9c7c7;
		width: 20vw;
		height: 10vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2vw;
	}

	.grid-item_main_block4_reviews_wrap-yandex:hover {
		transform: scale(1.1);
	}

	.grid-item_main_block4_reviews_wrap-yandex2 {
		text-decoration: none;
		color: #2a2c1f;
	}
	.grid-item_main_block4_reviews_logo2 {
		width: 8vw;
	}
	.grid-item_main_block4_reviews_wrap2 {
		display: flex;
		margin-top: 1vw;
	}
	.grid-item_main_block4_reviews_wrap2-rating {
		font-weight: bold;
		font-size: 3vw;
	}
	.grid-item_main_block4_reviews_wrap2-wrap {
		display: flex;
		flex-direction: column;
		margin-top: 0.5vw;
		margin-left: 0.5vw;
	}
	.grid-item_main_block4_reviews_wrap2-stars2 {
		width: 10vw;
	}
	.grid-item_main_block4_reviews_wrap2-desc {
		font-size: 1vw;
	}
	.grid-item_main_block4_reviews_wrap-2gis {
		grid-area: 2 / 1 / 3 / 2;
		border: 1px solid transparent;
		border-radius: 10px;
		background-color: #ffffff;
		box-shadow: 2px 2px 17px 5px #c9c7c7;
		width: 20vw;
		height: 10vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.grid-item_main_block4_reviews_wrap-2gis:hover {
		transform: scale(1.1);
	}

	.grid-item_main_block4_reviews_wrap-2gis2 {
		text-decoration: none;
		color: #2a2c1f;
	}

	.grid-item_main_block4_reviews_carousel {
		grid-area: 1 / 2 / 3 / 3;
		width: 80vw;
	}

	.grid-item_main_block4_contacts {
		grid-area: 3 / 1 / 4 / 2;
		// background-image: url("/assets/images/main-block4/img_house3.png");
		background-image: url(https://static.tildacdn.com/tild6131-6332-4663-a363-323331653361/Object.png);
		background-repeat: no-repeat;
		background-position: right;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: 70%;
	}
	.grid-item_main_block4_contacts-container {
		width: 80%;
		margin: 0 auto;
	}
	.grid-item_main_block4_contacts-title {
		@include title;
		font-size: 5vw;
	}
	.grid-item_main_block4_contacts-map {
		display: flex;
		margin-bottom: 3vw;
	}

	.grid-item_main_block4_contacts-map-logo2 {
		border: 1px solid transparent;
		border-radius: 10px;
		box-shadow: 1px 1px 2px 2px #c9c7c7;
	}

	.grid-item_main_block4_contacts-map-logo2:hover {
		transform: scale(1.1);
	}
	.grid-item_main_block4_contacts-map-text {
		margin-left: 2vw;
	}
	.grid-item_main_block4_contacts-map-text-title {
		color: #2a2c1f;
		font-size: 1.5vw;
		font-weight: bold;
	}
	.grid-item_main_block4_contacts-map-text-desc {
		color: #2a2c1f;
		font-size: 1.2vw;
	}
	.grid-item_main_block4_contacts-data {
		display: flex;
		margin-bottom: 4vw;
	}
	.grid-item_main_block4_contacts-data-logo2 {
		border: 1px solid transparent;
		border-radius: 10px;
		box-shadow: 1px 1px 2px 2px #c9c7c7;
	}
	.grid-item_main_block4_contacts-data-text {
		margin-left: 2vw;
		color: #2a2c1f;
		font-size: 1.2vw;
	}
	.grid-item_main_block4_contacts-phone {
		display: flex;
		margin-bottom: 5vw;
	}
	.grid-item_main_block4_contacts-phone-logo2 {
		border: 1px solid transparent;
		border-radius: 10px;
		box-shadow: 1px 1px 2px 2px #c9c7c7;
	}

	.grid-item_main_block4_contacts-phone-number-text {
		margin-left: 2vw;
	}
	.grid-item_main_block4_contacts-phone-number-text2 {
		text-decoration: none;
		color: #2a2c1f;
		font-weight: bold;
		font-size: 1.2vw;
	}

	.grid-item_main_block4_contacts-phone-number-text:hover {
		transform: scale(1.1);
	}

	.grid-item_main_block4_contacts-button {
		@include button(hover);
		width: 20vw;
		height: 5vw;
	}
}

@media screen and (min-width: 2200px) {
}

@media screen and (min-width: 1800px) and (max-width: 2199px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}
