.flex-container_main_block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include background;

    h1, h2, h3, p, li {
        color: rgba(15, 33, 44, 1.00);
    }
    
    h2 {
        @include title;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            @include title-adaptive-mobile;
        }

        @media screen and (max-width: 767px) {
            @include title-adaptive-mobile-phone;
            text-align: center;
        }
    }

    h3 {
        @include title-card;
        
        @media screen and (max-width: 767px) {
            @include text-card_mobile;
        }
    }
    
    p {
        font-size: 1.8vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 2vw;
        }
        @media screen and (max-width: 767px) {
            font-size: 3vw;
        }
    }

    li {
        @include text-card;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 1.7vw;
        }

        @media screen and (max-width: 767px) {
            font-size: 3.2vw;
        }
    }

    .flex-item_main_block2_benefit,
    .flex-item_main_block2-bank {
        display: flex;
    }

    .flex-item_main_block2_benefit{
        padding: 2rem;
    }

    .grid-item_main_block2-hypothec {
        width: 95vw;
        height: auto;
        border-radius:10px;
        margin-top: 2vh;
        display: grid;
        grid-template-columns: repeat(2, 2fr) 1fr repeat(2, 2fr);
        grid-template-rows: 1fr;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            display: none;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }

            .grid-item_main_block2-hypothec_img {
                grid-area: 1 / 1 / 2 / 6;
                width: 100%;
                z-index: -1;
                opacity: 0.5;
            }

            .grid-item_main_block2-hypothec_col1 {
                grid-area: 1 / 1 / 2 / 3;
                padding: 12%;

                h3 {
                    text-align: left;
                }
            }

            .grid-item_main_block2-hypothec_col2 {
                grid-area: 1 / 4 / 2 / 6;
                padding: 12%;
                text-align: right;

                li {
                    list-style: none;
                }
            }

    h2, h3, p, ul, li {
        text-shadow: 1px 1px 4px rgb(233, 231, 231);
        font-size: 1.5vw;
    }

    h2 {
        margin-bottom: 1vh;
        font-size: 2.5vw;
    }

    h3 {
        margin-top: 4vh;
        @include title-card;
        text-align: right;
    }
}

    .flex-item_main_block2-bank {
        justify-content: space-between;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 95vw;
        height: 5vh;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 90vw;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }

        @media screen and (max-width: 767px) {
            width: 80vw;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }

            .bank-logo_large {
                width: 15%;
                cursor: pointer;

                @media screen and (min-width: 768px) and (max-width: 1023px) {
                    display: none;
                }

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }

            .bank-logo_small {
                display: none;
                cursor: pointer;

                @media screen and (min-width: 768px) and (max-width: 1023px) {
                    display: block;
                }

                @media screen and (max-width: 767px) {
                    display: block;
                }
            }
    }

    .flex-item_main_block2_benefit {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;

        .flex-item_main_block2_benefit_logo {
            width: 4vw;

            @media screen and (max-width: 767px) {
                width: 8vw;
            }
        }

        h2 { 
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }

        h3 {
            padding-left: 0.5rem;
            display: block;
        }
    }
    
    .flex-item_main_block2-card {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 3vh;
        }

        @media screen and (max-width: 767px) {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 3.5vh;
        }

        .flex-item_main_block2-card_content {
            width: 32%;
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);
            border-radius: 10px 10px 10px 10px;
            display: flex;
            flex-direction: column;
            background-color: white;

            @media screen and (min-width: 768px) and (max-width: 1023px) {
                flex-direction: row;
                width: 100%;
            }

            @media screen and (max-width: 767px) {
                flex-direction: row;
                width: 100%;
            }

            &:hover {
                box-shadow: 2px 6px 8px 4px rgba(25, 41, 28, 0.1);
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                    transform: scale(1.02);
                }
            }
        }

        .flex-item_main_block2-card__card_img {
            width: 100%;
            border-radius: 10px 10px 0 0;

            @media screen and (min-width: 768px) and (max-width: 1023px) {
                width: 30%;
                border-radius: 10px 0 0 10px;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        .flex-item_main_block2-card_text {
            display: flex;
            flex-direction: column;
            padding-top: 2vh;
            padding-bottom: 2vh;
        }

        ul {
            padding-left: 2rem;
            padding-right: 1rem;
            margin: 0;
        }

        li {
            list-style-type: '\2014';
            padding-left: 0.5rem;
            padding-top: 0.5rem;
            color: rgba(15, 33, 44, 1.00);
        }
    }
}