.grid-container_projects_body{
    display: grid;
    grid-template: 4% 92% 4%/1fr;

    height: 4500px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .grid-item_projects_body_header{
        grid-area: 1/1/2/2;
        border-bottom: solid black;

        .grid-container_header {
            display: grid;
            grid-template: 53% 47%/15% 65% 20%;
            width: 100%;
            height: 100%;
            background-color: white;
        
            .grid-item_sup-header {
                grid-area: 1/1/2/4;
                align-content: center;
        
                text-align: center;
                // background-color: #304857;
                background-image: url(https://bogatyr.club/uploads/posts/2023-03/1679616215_bogatyr-club-p-cherno-belaya-arkhitektura-foni-krasivo-1.jpg);
                background-attachment: fixed;


                .projects_title{
                    color: white;
                    text-shadow: 5px 5px 5px black;

                    cursor: pointer;
                }
            }
        
            .header_logo {
                grid-area: 2/1/3/2;
                align-content: center;

                display: flex;
                justify-content: center;
            }

            .nav {
                grid-area: 2/2/3/3;

                .nav_links {
                    @include projects_nav_links;

                    a {
                        text-decoration: none;
                        color: inherit;
                        font-size: 1.1rem;
                        font-weight: 500;
                        line-height: 1.5rem;
                    }
                }
            }
            .nav li a:hover {
                text-decoration: underline;
            }
        
            .buttons {
                grid-area: 2/3/3/4;
                
                align-content: center;
                justify-self: center;

                .buttons_contact{
                    width: 150px;
                    height: 55px;
    
                    background-color: #cf6f49;
                    color: white;
                    border: 1px solid #cf6f49;
                    border-radius: 10px;

                    font-weight: 600;
                    cursor: pointer;
                }
    
                .buttons_contact:hover {
                    background-color: #1a2125;
                    border: 2px solid #304857;
                }
            }
        }
    }

    .grid-item_projects_body_main{
        grid-area: 2/1/3/2;

        .projects_main{
            height: 100%;

            .grid-container_projects_main_houses{
                height: 52%;

                display: grid;
                grid-template: 24% 71% 5%/5% 1fr 5%;

                .grid_item_projects_main_houses_title{
                    grid-area: 1/1/2/4;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    background-image: url(https://cobrio.club/uploads/posts/2022-10/1666014441_5-cobrio-club-p-podsvetka-karkasnogo-doma-dizain-krasivo-5.jpg);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    -o-background-size: cover;
                    background-size: cover;

                    .projects_main_houses_title{
                        @include background-image-title;
                    }
                }

                .grid-item_projects_main_houses_cards{
                    grid-area: 2/2/3/3;

                    .grid-container_houses-variants{
                        display: grid;
                        grid-template: 4% 47% 1% 47% 1%/31.5% 2.75% 31.5% 2.75% 31.5%;
            
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .grid-container_projects_main_flats{
                height: 48%;

                display: grid;
                grid-template: 25% 74% 1%/5% 1fr 5%;

                .grid-item_projects_main_flats_title{
                    grid-area: 1/1/2/4;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-image: url(https://i.pinimg.com/originals/d9/8a/f3/d98af31eba241276e9562058ef180885.jpg);
                    background-repeat: no-repeat;  
                    background-position: center;
                    background-attachment: fixed;
                    -moz-background-size: cover;
                    background-size: cover;

                    .projects_main_flats_title{
                        @include background-image-title;
                    }
                }

                .grid-item_projects_main_flats_cards{
                    grid-area: 2/2/3/3;

                    .grid-container_flats-variants{
                        display: grid;
                        grid-template: 4% 43% 2% 43% 3% 5%/30% 5% 30% 5% 30%;
            
                        height: 100%;
                        width: 100%;

                        .grid-item_flats_buttons{
                            @include projects_buttons;
                            grid-area: 6/3/7/4;
                        }
                    }
                }
            }

            .grid-item_variants-card1{
                grid-area: 2/1/3/2;
            }

            .grid-item_variants-card2{
                grid-area: 2/3/3/4;
            }

            .grid-item_variants-card3{
                grid-area: 2/5/3/6;
            }

            .grid-item_variants-card4{
                grid-area: 4/1/5/2;
            }

            .grid-item_variants-card5{
                grid-area: 4/3/5/4;
            }

            .grid-item_variants-card6{
                grid-area: 4/5/5/6;
            }

            .card {
                transition: 0.7s;
                cursor: pointer;
            }
        
            .card:hover {
                transform: scale(1.1);
            }

            .grid-item_buttons{
                @include projects_buttons;
                grid-area: 3/2/4/3;
            }
        }
    }

    .grid-item_projects_body_footer{
        grid-area: 3/1/4/2;

        .grid-container_footer{
            display: grid;
            grid-template: 1fr/20% 80%;

            // background-color: #304857;

            background-image: url(https://bogatyr.club/uploads/posts/2023-03/1679616215_bogatyr-club-p-cherno-belaya-arkhitektura-foni-krasivo-1.jpg);
            background-attachment: fixed;
            height: 100%;

            .footer_logo{
                grid-area: 1/1/2/2;
                align-content: center;
    
                display: flex;
                justify-content: center;

                .logo_text{
                    font-size: 1.1rem;
                    color: white;
                }
            }

            .footer_nav{
                height: 80%;

                .nav_links{
                    @include projects_nav_links;
                    justify-content: space-evenly;

                    a {
                        text-decoration: none;
                        color: white;
                        text-shadow: 5px 5px 5px rgb(0, 0, 0);
                        font-size: 1.1rem;
                        font-weight: 600;
                        line-height: 1.5rem;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;

        cursor: pointer;

        .svg{
            width: 60%;
            height: 60%;
        }
    }
}