@charset "UTF-8";
.body {
  height: 8773px;
  border: solid black;
}
.body .grid-container_body {
  display: grid;
  grid-template: 9% 89% 2%/1fr;
  height: 100%;
}
.body .grid-container_body .grid-item_body_header {
  grid-area: 1/1/2/2;
  border: solid red;
}
.body .grid-container_body .grid-item_body_main {
  grid-area: 2/1/3/2;
  border: solid rgb(0, 51, 255);
}
.body .grid-container_body .grid-item_body_footer {
  grid-area: 3/1/4/2;
  border: solid rgb(72, 255, 0);
}

.grid-container_main {
  display: grid;
  grid-template: 11% 24% 40% 25%/1fr;
  height: 100%;
}
.grid-container_main .grid-item_main_block1 {
  grid-area: 1/1/2/2;
  border: solid rgb(220, 156, 37);
}
.grid-container_main .grid-item_main_block2 {
  grid-area: 2/1/3/2;
  border: solid rgb(18, 10, 177);
}
.grid-container_main .grid-item_main_block3 {
  grid-area: 3/1/4/2;
  border: solid rgb(6, 242, 97);
}
.grid-container_main .grid-item_main_block4 {
  grid-area: 4/1/5/2;
  border: solid rgb(175, 1, 255);
}

.grid-container_main_block3_houses {
  display: grid;
  grid-template: 27% 51% 11% 11%/10% 80% 10%;
  height: 100%;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-finished {
  grid-area: 1/1/2/4;
  background-color: rgba(187, 220, 214, 0.247);
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-finished .grid-container_houses-finished {
  display: grid;
  grid-template: 15% 5% 80%/5% 1fr 5%;
  height: 100%;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-finished .grid-container_houses-finished .grid-item_houses-finished-text {
  grid-area: 1/2/2/3;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-finished .grid-container_houses-finished .grid-item_houses-finished-text h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 5.3125rem;
  text-align: center;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-finished .grid-container_houses-finished .grid-item_houses-finished-carousel {
  grid-area: 3/2/4/3;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants {
  grid-area: 2/1/4/4;
  background-color: rgba(187, 220, 214, 0.247);
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants {
  display: grid;
  grid-template: 7% 34% 2% 34% 8% 10%/5% 28% 3% 28% 3% 28% 5%;
  height: 100%;
  width: 100%;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .grid-item_houses-variants-title {
  grid-area: 1/2/2/7;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .grid-item_houses-variants-title h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 5.3125rem;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .grid-item_houses-variants-card1 {
  grid-area: 2/2/3/3;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .grid-item_houses-variants-card2 {
  grid-area: 2/4/3/5;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .grid-item_houses-variants-card3 {
  grid-area: 2/6/3/7;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .grid-item_houses-variants-card4 {
  grid-area: 4/2/5/3;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .grid-item_houses-variants-card5 {
  grid-area: 4/4/5/5;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .grid-item_houses-variants-card6 {
  grid-area: 4/6/5/7;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .grid-item_houses-variants-button {
  grid-area: 5/3/6/6;
  justify-self: center;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .card {
  transition: 0.7s;
  cursor: pointer;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-variants .grid-container_houses-variants .card:hover {
  transform: scale(1.1);
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-excursion {
  grid-area: 3/2/5/3;
  z-index: 1;
  border: solid rgb(255, 0, 0);
  background-color: rgb(238, 238, 231);
  background-image: url(https://cobrio.club/uploads/posts/2022-10/1665889030_2-cobrio-club-p-malenkii-khai-tek-dom-dizain-oboi-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-background-size: cover;
  background-size: cover;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-excursion .flex-container_houses-excursion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  height: 100%;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-excursion .flex-container_houses-excursion .flex-item_house-excursion-title {
  font-weight: 900;
  font-size: 3.125rem;
  color: white;
  text-shadow: 5px 5px 5px black;
  text-align: center;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-excursion .flex-container_houses-excursion .flex-item_house-excursion-text-button {
  text-align: center;
}
.grid-container_main_block3_houses .grid-item_main_block3_houses-excursion .flex-container_houses-excursion .flex-item_house-excursion-text-button .house-excursion-text {
  font-weight: 500;
  font-size: 1.875rem;
  color: white;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.footer {
  background-color: rgb(238, 238, 231);
  text-align: center;
  height: 100%;
}

.header {
  padding: 0.5rem 2rem;
  width: 100%;
  height: 100%;
  background-image: url(https://bogatyr.club/uploads/posts/2023-03/1679616215_bogatyr-club-p-cherno-belaya-arkhitektura-foni-krasivo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 1%;
  padding-bottom: 5%;
}
.header .header_row {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}
.header .header_row .header_logo {
  width: 20%;
}
.header .header_row .header_logo .logo {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 3rem;
}
.header .header_row .header_logo .logo_icon {
  width: 30%;
  height: 10%;
}
.header .header_row .header_logo .logo_text {
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}
.header .header_row .header_nav {
  margin: 1.5rem 0;
  width: 80%;
  display: flex;
}
.header .header_row .header_nav .header_links {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 2.5rem;
  gap: 3rem;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: normal;
  list-style: none;
  width: 100%;
}
.header .header_row .header_nav .header_links .header_links-link {
  color: white;
  text-decoration: none;
}
.header .header_row .header_nav .header_links .header_links-link:hover {
  text-decoration: underline;
}
.header .content {
  max-width: 100%;
  padding: 2rem 1rem;
  gap: 3rem;
}
.header .content_title {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  text-shadow: 5px 5px 5px black;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: normal;
  color: white;
}
.header .content_text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: normal;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 5px 5px 5px black;
  color: white;
}
.header .content_form {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 10rem 0;
}
.header .content_form_btn {
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  text-shadow: white;
  background-color: #197096;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.header .content_form_btn2 {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  text-shadow: white;
  background-color: #1b9c4b;
  border: 0.5rem solid #1b9c4b;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.header .content_form .content_form_btn:hover {
  background-color: rgba(163, 174, 167, 0.6078431373);
}
.header .content_form .content_form_btn2:hover {
  background-color: rgba(163, 174, 167, 0.6078431373);
}

.menu-toggle {
  display: none;
}

.burger-menu {
  display: none;
}

@media (max-width: 881px) {
  .header_nav {
    position: relative;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  .burger-menu .line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 20%;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .header_links {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    position: absolute;
    top: 50px;
    width: fit-content;
    gap: 2rem;
    height: fit-content;
    background-color: #daeef0;
    border-radius: 5%;
    color: #000000;
  }
  /* Отображение меню при активном чекбоксе */
  .menu-toggle:checked + .burger-menu + .header_links {
    display: flex;
  }
  /* Анимация превращения бургер-меню в крестик */
  .menu-toggle:checked + .burger-menu .line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-toggle:checked + .burger-menu .line2 {
    opacity: 0;
  }
  .menu-toggle:checked + .burger-menu .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .header_links-link {
    margin: 10px 20px;
  }
  .header_links-link a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
}
.grid-item_main_block2_benefit,
.grid-item_main_block2-card_title,
.grid-item_main_block2-card,
.grid-item_main_block2-card_content,
.grid-item_main_block2-bank {
  display: flex;
}

.grid-item_main_block2-bank {
  justify-content: space-around;
  margin-bottom: 5vh;
  margin-left: 5%;
  width: 90%;
  height: 5vh;
}
.grid-item_main_block2-bank .bank-logo_large {
  width: 15%;
}
.grid-item_main_block2-bank .bank-logo_small {
  display: none;
}

.grid-item_main_block2_benefit {
  flex-direction: column;
  align-items: center;
}
.grid-item_main_block2_benefit h1, .grid-item_main_block2_benefit h2, .grid-item_main_block2_benefit p, .grid-item_main_block2_benefit li {
  font-family: Arial;
}
.grid-item_main_block2_benefit h1 {
  font-family: Arial;
  /*font-size: 3.39rem;*/
  font-size: 2.7vw;
  color: rgb(15, 33, 44);
}
.grid-item_main_block2_benefit .grid-item_main_block2-card_title {
  align-items: center;
  height: 4.5rem;
}
.grid-item_main_block2_benefit p {
  font-size: 1.3vw;
}
.grid-item_main_block2_benefit h2 {
  /*font-size: 1.4rem;*/
  font-size: 1.8vw;
  padding-left: 0.5rem;
  margin: 0;
  display: block;
}
.grid-item_main_block2_benefit .grid-item_main_block2-card {
  justify-content: space-between;
  width: 80vw;
  margin-top: 1rem;
}
.grid-item_main_block2_benefit .grid-item_main_block2-card .grid-item_main_block2-card_content {
  width: 32%;
  flex-direction: column;
}
.grid-item_main_block2_benefit .grid-item_main_block2-card .card_img {
  width: 100%;
}
.grid-item_main_block2_benefit .grid-item_main_block2-card ul {
  padding-left: 2rem;
  padding-right: 1rem;
  margin: 0;
}
.grid-item_main_block2_benefit .grid-item_main_block2-card li {
  list-style-type: "—";
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  /*font-size: 1.2rem;*/
  font-size: 1.5vw;
  color: rgb(15, 33, 44);
}

.grid-item_main_block2_benefit h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
